doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title TrainMania
    link(rel='stylesheet' href='/src/style/main.scss')

  body
    .game
      include src/views/_canvas.pug
      include src/views/_hud.pug
      include src/views/_settings-modal.pug
      include src/views/_overlay.pug

    script(type='module' src='/main.ts')
