.hud
  .hud__left
    .hud__level LEVEL #[span.hud__level-num 1]
    .hud__speed-wrap
      .hud__speed-bar
    button.hud__speed-btn(title='Speed Up')
      .hud__speed-icon
        img(src='/images/icons/fastForward.png', alt='Speed Up')
      span.hud__speed-label max speed
  .hud__right
    button.hud__settings-btn(title='Settings' data-sfx-click)
      .hud__settings-icon
        img(src='/images/icons/gear.png', alt='Settings')

.hud__actions
  .hud__actions-left
    button.hud__action-btn.hud__action-btn--swap.hud__action-btn--left-up(title='Swap Track')
      .hud__action-btn-icon
        img(src='/images/icons/cards_flip.png', alt='Swap Track')
      .span Swap
    button.hud__action-btn.hud__action-btn--rotate.hud__action-btn--left-down(title='Rotate Track (S)')
      .hud__action-btn-icon
        img(src='/images/icons/card_flipdouble.png', alt='Rotate Track')
      .span Rotate
  .hud__actions-right
    button.hud__action-btn.hud__action-btn--place.hud__action-btn--right(title='Place Track')
      .hud__action-btn-icon
        img(src='/images/icons/card_outline_place.png', alt='Place Track')
      .span Place
