.loading-screen
  .loading-screen__box
    .loading-screen__title TrainMania
    .loading-screen__bar-track
      .loading-screen__bar-fill
    .loading-screen__label Loading…

.overlay.hidden
  .overlay__box
    .overlay__title
    .overlay__sub
    .overlay__train-picker.hidden
      .overlay__train-picker__strip
    .button.overlay__btn(data-sfx-click)
      span

.train-picker-modal.hidden
  .train-picker-modal__box
    button.train-picker-modal__close(data-sfx-click) ✕
    h2.train-picker-modal__title Choose Train
    .train-picker-modal__strip
    .button.train-picker-modal__confirm(data-sfx-click)
      span Change
