.loading-screen.hidden
  .loading-screen__box
    .loading-screen__title TrainMania
    .loading-screen__bar-track
      .loading-screen__bar-fill
    .loading-screen__label Loading…

.overlay.hidden
  .overlay__box
    img.overlay__high-score-stamp.hidden(src='/images/high_score_stamp.png', alt='New High Score')
    .overlay__title
    .overlay__sub
    .overlay__score.hidden
      .overlay__score-row
        span.overlay__score-label TIME
        span.overlay__score-time
      .overlay__score-row
        span.overlay__score-label COINS
        span.overlay__score-coins
      .overlay__score-row
        span.overlay__score-label RAILS
        span.overlay__score-rails
    .overlay__train-picker.hidden
      .overlay__train-picker__strip
    .overlay__level-picker.hidden
      .overlay__level-picker__label Choose Level
      .overlay__level-picker__strip
    .button.overlay__retry-btn.hidden(data-sfx-click)
      span Retry
    .button.overlay__btn(data-sfx-click)
      span
    button.overlay__leaderboard-btn(data-sfx-click) Leaderboard
  .overlay__load-bar.hidden
    .overlay__load-bar__track
      .overlay__load-bar__fill
    .overlay__load-bar__label Loading…

.train-picker-modal.hidden
  .train-picker-modal__box
    button.train-picker-modal__close(data-sfx-click) ✕
    h2.train-picker-modal__title Choose Train
    .train-picker-modal__strip
    .button.train-picker-modal__confirm(data-sfx-click)
      span Change
