.settings.hidden
  .settings__box
    button.settings__close(data-sfx-click) ✕
    .settings__header
      .settings__title Paused
    .settings__body

      //- Left tab rail
      .settings__tabs
        button.settings__tab.active(data-tab='gameplay' data-sfx-click) Gameplay
        button.settings__tab(data-tab='sound' data-sfx-click) Sound
        button.settings__tab(data-tab='help' data-sfx-click) Help
        button.settings__tab(data-tab='credits' data-sfx-click) Credits

      //- Tab content
      .settings__content

        .settings__panel.settings__panel--gameplay.active
          .button.settings__btn.settings__change-train(data-sfx-click)
            span Change Train

        //- HELP TAB
        .settings__panel.settings__panel--help
          h2.settings__heading How to Play
          p.settings__body.
            Place track tiles on the grid before the train reaches a gap.
            The train speeds up as it moves — plan ahead!

          h2.settings__heading(style='margin-top:20px') Controls
          table.key-table
            tbody
              tr
                td.key-table__key
                  kbd: span A
                  span /
                  .settings__icon
                    img(src='/images/icons/arrow_reserve_dark.png', alt='Swap Track')
                td.key-table__value Swap (Straight/Curve)
              tr
                td.key-table__key
                  kbd: span S
                  span /
                  .settings__icon
                    img(src='/images/icons/arrow_clockwise_dark.png', alt='Rotate')
                td.key-table__value Rotate tile
              tr
                td.key-table__key
                  kbd: span Enter
                  span /
                  kbd: span Space

                td.key-table__value Place tile
              tr
                td.key-table__key
                  kbd: span Left Click
                td.key-table__value Place tile
              tr
                td.key-table__key
                  kbd: span Right Click
                td.key-table__value Swap tile
              tr
                td.key-table__key
                  kbd: span Middle Click
                td.key-table__value Rotate tile
              tr
                td.key-table__key
                  kbd: span Click + Drag
                td.key-table__value Orbit camera
              tr
                td.key-table__key
                  kbd: span Click on Train
                td.key-table__value Follow Train
              tr
                td.key-table__key
                  kbd: span ←
                  kbd: span ↑
                  kbd: span →
                  kbd: span ↓
                td.key-table__value Move ghost tile

        //- SOUND TAB
        .settings__panel.settings__panel--sound
          h2.settings__heading Sound

          .settings__sound-row
            span.settings__sound-label Mute all
            button.settings__mute-all.settings__toggle
              .settings__icon
                img(src='/images/icons/audioOn_dark.png', alt='Mute All')
                img.hidden(src='/images/icons/audioOff_dark.png', alt='Unmute All')

          .settings__sound-row
            span.settings__sound-label Music
            button.settings__mute-music.settings__toggle
              .settings__icon
                img(src='/images/icons/musicOn_dark.png', alt='Music On')
                img.hidden(src='/images/icons/musicOff_dark.png', alt='Music Off')
          .settings__sound-row.settings__sound-row--indent
            span.settings__vol-label Volume
            input.settings__music-slider.settings__vol-slider(type='range' min='0' max='1' step='0.01' value='0.5')

          .settings__sound-row
            span.settings__sound-label Sound Effects
            button.settings__mute-sfx.settings__toggle
              .settings__icon
                img(src='/images/icons/audioOn_dark.png', alt='Sound Effects On')
                img.hidden(src='/images/icons/audioOff_dark.png', alt='Sound Effects Off')
          .settings__sound-row.settings__sound-row--indent
            span.settings__vol-label Volume
            input.settings__sfx-slider.settings__vol-slider(type='range' min='0' max='1' step='0.01' value='0.7')

        //- CREDITS TAB
        .settings__panel.settings__panel--credits
          h2.settings__heading Credits
          table.key-table
            tbody
              tr
                td: a(href='https://gianniballerini.dev/' target='_blank' rel='noopener noreferrer') Gianni Ballerini
                td Game development
              tr
                td: a(href='https://kenney.nl/' target='_blank' rel='noopener noreferrer') Kenney.nl
                td 3D &amp; game assets
              tr
                td: a(href='https://suno.com/' target='_blank' rel='noopener noreferrer') Suno
                td Music
              tr
                td: a(href='https://santiagocolombo.com/' target='_blank' rel='noopener noreferrer') Santiago Colombo
                td 3D asset support
