.settings.hidden
  .settings__box
    button.settings__close ✕

    //- Left tab rail
    .settings__tabs
      button.settings__tab.active(data-tab='help') Help
      button.settings__tab(data-tab='sound') Sound
      button.settings__tab(data-tab='credits') Credits

    //- Tab content
    .settings__content

      //- HELP TAB
      .settings__panel.settings__panel--help.active
        h2.settings__heading How to Play
        p.settings__body.
          Place track tiles on the grid before the train reaches a gap.
          The train speeds up as it moves — plan ahead!

        h2.settings__heading(style='margin-top:20px') Controls
        table.key-table
          tbody
            tr
              td: kbd W
              td Straight track
            tr
              td: kbd S
              td Curve track
            tr
              td: kbd A
              td Rotate left
            tr
              td: kbd D
              td Rotate right
            tr
              td: kbd Click
              td Place tile
            tr
              td: kbd Middle / Right drag
              td Orbit camera

      //- SOUND TAB
      .settings__panel.settings__panel--sound
        h2.settings__heading Sound

        .settings__sound-row
          span.settings__sound-label Mute all
          button.settings__mute-all.settings__toggle 🔇 Off

        .settings__sound-row
          span.settings__sound-label Music
          button.settings__mute-music.settings__toggle 🎵 On
        .settings__sound-row.settings__sound-row--indent
          span.settings__vol-label Volume
          input.settings__music-slider.settings__vol-slider(type='range' min='0' max='1' step='0.01' value='0.5')

        .settings__sound-row
          span.settings__sound-label Sound Effects
          button.settings__mute-sfx.settings__toggle 🔊 On
        .settings__sound-row.settings__sound-row--indent
          span.settings__vol-label Volume
          input.settings__sfx-slider.settings__vol-slider(type='range' min='0' max='1' step='0.01' value='0.7')

      //- CREDITS TAB
      .settings__panel.settings__panel--credits
        h2.settings__heading Credits
        table.key-table
          tbody
            tr
              td: a(href='https://gianniballerini.dev/' target='_blank' rel='noopener noreferrer') Gianni Ballerini
              td Game development
            tr
              td: a(href='https://kenney.nl/' target='_blank' rel='noopener noreferrer') Kenney.nl
              td 3D &amp; game assets
            tr
              td: a(href='https://suno.com/' target='_blank' rel='noopener noreferrer') Suno
              td Music
            tr
              td: a(href='https://santiagocolombo.com/' target='_blank' rel='noopener noreferrer') Santiago Colombo
              td 3D asset support
