@use 'variables' as *;

.button {
    pointer-events: all;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    span {
      display: block;
      margin-bottom: -4 * $ptr;
    }
}
